.header--container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    h2{
        margin: 0;
    }
}
.tasks--container{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    border: 1px solid lightgrey;
    .tasks{
        -webkit-padding-start: 0px;
        margin: 0;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
        .task--container{
            list-style-type: none;
        }
    }
}