.robots--container{
    width: 400px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    .no-robots{
        width: fit-content;
        margin: 10px auto;
        font-size: 22px;
    }
    .robots{
        -webkit-padding-start: 0px;
        margin: 0;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
        .robot--container{
            list-style-type: none;
        }
    }
}