.robots-tasks--container{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 800px) {
    .robots-tasks--container{
        display: flex;
        flex-direction: column;
        .tasks--container{
            margin: 40px auto;
        }
    }
  }